{% extends('layouts/default') %}

{% block title %}Ladies Forum - AllAbout{% endblock %}

{% block content %}

<h2>About Us</h2>

<br><br>

<body>
   <table class="table table-bordered">
   <tr>
     <th><p>Our Mission</p></th>
     <td>Web Site Creation and Maintainance<br>
     Handling Web Platforms<br>
     Web Marketing</td>
   </tr>
  </table>

  <table class="table table-bordered">
   <tr>
     <th><p>About this Forum</p></th>
     <td>This Forum was created by one of our employees who has absolute passion.<br>
     The purpose of this Forum is to give all ladies some personal spase after work.<br>
     Feel free to talk, discuss anything with anonymous account!</td>
   </tr>
  </table>
</body>

{% endblock %}
