{% extends('layouts/auth_default') %}

{% block title %}Ladies Forum - Post Completed{% endblock %}

{% block content %}

<div class = "alert alert-success" role="alert">
    <sttrong>Success:</strong>Your Post has been saved successfully !
</div>

{% endblock %}
