{% extends('layouts/auth_default') %}

{% block title %}Ladies Forum - Error{% endblock %}

{% block content %}

<h2>You are not authorised</h2>

<div class="alert alert-warning" role="alert">
<strong>Warning!</strong> Better check yourself, you're not authorised. Please login.
</div>

{% endblock %}
